<div class="container text-center mt-5">
  <h1 class="mb-4">退会確認画面</h1>

  <div class="mb-3">
    <%= link_to "退会しない", my_page_path, class: "btn btn-secondary btn-lg" %>
  </div>

  <div>
    <%= link_to "退会する", withdraw_update_path, method: :patch, class: "btn btn-danger btn-lg", "data-confirm" => "本当に退会してもよろしいですか？" %>
  </div>
</div>